<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb5406572542751647</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>5406572542751647</string>
	<key>FacebookClientToken</key>
	<string>d2c40c53797d97e680dbc83b6296eb43</string>
	<key>FacebookDisplayName</key>
	<string>APP-NAME</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>EduNSWACTFoundation-VariableFont_wght.ttf</string>
	</array>
</dict>
</plist>
